Options -MultiViews -Indexes
RewriteEngine On

RewriteBase /vp-nosql

RewriteCond %{REQUEST_URI}  article/text/.*/build.*
RewriteRule article/text/.*/(build.*) public/pdfjs/$1 [QSA,L]

RewriteCond %{REQUEST_URI}  article/text/.*/locale/.*
RewriteRule article/text/.*/locale/(.*) public/pdfjs/web/locale/$1 [QSA,L]

RewriteCond %{REQUEST_URI}  article/text/.*/cmaps/.*
RewriteRule article/text/.*/cmaps/(.*) public/pdfjs/web/cmaps/$1 [QSA,L]

RewriteCond %{REQUEST_URI}  article/text/.*/images/.*
RewriteRule article/text/.*/images/(.*) public/pdfjs/web/images/$1 [QSA,L]

RewriteCond %{REQUEST_URI}  article/text/.*/viewer.*
RewriteRule article/text/.*/(viewer.*) public/pdfjs/web/$1 [QSA,L]

RewriteCond %{REQUEST_URI}  article/text/.*/debugger.*
RewriteRule article/text/.*/(debugger.*) public/pdfjs/web/$1 [QSA,L]

RewriteCond %{REQUEST_URI}  /article/text/.*
RewriteRule article/text/(.*?)/(.*?) public/pdfjs/web/viewer.html?file=../../data/$1/$2/index.pdf [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
